<header>
  <div>
    <span class="logo"><a href="/">WEEABO WATCHLIST</a></span>
  </div>
  <div class="search-container">
    <input #searchBox type="text" class="search-box" placeholder="Search..."
      (input)="searchAnime(searchBox.value)"
      (blur)="hideSearchResults(); beginSearchBoxShrink()"
      (focus)="expandSearchBox(); hideNavbar()"
      (transitionend)="handleSearchBoxTransitionEnd()">
    <span class="icon"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></span>
    <div class="search-results" *ngIf="showSearchResultsDropdown && searchResults.length" (transitioned)="handleSearchBoxTransitionEnd()">
      <ul>
        <li *ngFor="let anime of searchResults">
          <div class="search-item">
            <img [src]="anime.animeCoverImage" alt="Cover Image" class="cover-image">
            <div class="info">
              <h4>{{ anime.title }} ({{ anime.titleJapanese }})</h4>
              <p *ngIf="anime.synopsis">{{ anime.synopsis | slice:0:128 }}{{ anime.synopsis.length > 128 ? '...' : '' }}</p>
            </div>
          </div>
          <hr>
        </li>
      </ul>
    </div>
  </div>

  <nav class="navbar"
    [ngStyle]="{'visibility': navbarVisible ? 'visible' : 'hidden', 'opacity': navbarVisible ? '1' : '0'}">
    <a href="/">Home</a>
    <a href="">Anime</a>
    <a href="">Mangas</a>
    <a href="">About</a>
  </nav>

  <div class="auth-buttons">
    <ng-container *ngIf="!isUserAuthenticated(); else loggedInTemplate">
      <button type="button" (click)="onLoginClick()">Login</button>
      <button type="button" (click)="onRegisterClick()">Register</button>
    </ng-container>

    <ng-template #loggedInTemplate>
      <div class="user-section">
        <div #dropdownToggle class="profile-picture" (click)="toggleDropdown()" (blur)="closeDropdown()">
          <img src="{{ userProfileImageUrl }}" alt="Profile picture">
        </div>
        <button type="button" class="logout-btn" (click)="onLogoutClick()">Logout</button>
      </div>
      <div #dropdownMenu class="dropdown-menu" [class.visible]="dropdownVisible">
        <a href="">Profile</a>
        <a href="">Lists</a>
        <a href="">Settings</a>
      </div>
    </ng-template>
  </div>
</header>
