<h2 class="character-title">Anime Characters</h2>
<div class="character-slider">
  <app-scrollable-list [containerSelector]="'.character-wrap-container'">
    <div class="character-wrap-container">
      <div class="character-container" *ngFor="let character of characters">
        <div class="character-info">
          <div class="image-container">
            <img [src]="character.characterImage" alt="{{ character.name }}" class="character-image">
          </div>
          <div class="info-overlay">
            <p class="character-name">{{ character.name }}</p>
            <p class="character-role">{{ character.role }}</p>
          </div>
        </div>
        <div *ngIf="character.voiceActors.length" class="voice-actor-info">
          <div class="image-container">
            <img [src]="character.voiceActors[0].voiceActorImage" alt="{{ character.voiceActors[0].name }}" class="voice-actor-image">
          </div>
          <p class="voice-actor-name">{{ character.voiceActors[0].name }}</p>
          <p class="voice-actor-language">{{ character.voiceActors[0].language }}</p>
        </div>
      </div>
    </div>
  </app-scrollable-list>
</div>
