$button-background: #252626;
$button-radius: 0.3em;
$input-border-color: #1f1f1f;
$login-box-background: #191919;

@mixin button-style {
  padding: 0.6em 1.2em;
  border: none;
  background: $button-background;
  color: white;
  cursor: pointer;
  border-radius: $button-radius;
  font-size: 1em;
  font-weight: bold;
}

@mixin input-style {
  box-sizing: border-box;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0.6em;
  margin-bottom: 1em;
  border: 2px solid $input-border-color;
  font-family: 'Gotham';
  font-weight: 600;
}

h2 {
  color: white;
}

.login-container {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: $login-box-background;
  padding: 2em;
  border-radius: 0.5em;
  width: 25rem;

  h2 {
    margin-bottom: 1.5em;
    text-align: center;
  }

  form {
    text-align: center;

    input[type="text"],
    input[type="password"] {
      @include input-style;
      transition: all 0.3s ease;

      &:focus {
        outline: solid 1px $input-border-color;
      }
    }

    button[type="submit"] {
      @include button-style;
      width: 100%;
      margin-top: 1em;
      transition: background-color 0.4s ease;

      &:hover {
        background-color: darken($button-background, 10%);
      }
    }

    .register-button {
      @include button-style;
      background: none;
      color: white;
      margin-top: 0.5em;
      transition: color 0.4s ease;

      &:hover {
        color: red;
      }
    }
  }
}
