<button class="add-review" (click)="openModal()" type="button">Write a Review</button>

<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <span (click)="closeModal()" class="close">&times;</span>
    <div class="modal-body">
      <h2>Add a review</h2>
      <div class="star-rating">
        <label class="rate">Rate</label>
        <div class="stars-container">
          <ul class="list-inline rating-list" *ngFor="let star of stars">
            <li (click)="countStar(star)" (mouseover)="onStarHover(star)" (mouseleave)="onStarHover(0)"
              [ngClass]="{'selected': (star <= selectedValue || star <= hoverValue)}">
              <fa-icon [icon]="faStar"></fa-icon>
            </li>
          </ul>
        </div>
      </div>
      <textarea name="" id="" cols="30" rows="10" [(ngModel)]="reviewText"></textarea>
      <label class="spoiler-checkbox">
        <input type="checkbox" [(ngModel)]="isSpoiler">
        <span class="checkmark"></span>
        Spoiler
      </label>
      <button class="submit-review" (click)="submitReview()">Post Review</button>
    </div>
  </div>
</div>

<div class="review-list" *ngFor="let review of reviews">
  <img [src]="review.userProfileImageUrl" alt="" class="profile-img">
  <p class="username">{{ review.userName }}</p>
  <p class="review-timestamp">{{ review.timestamp | date:'medium' }}</p>
  <p class="review-text">{{ review.text }}</p>
  <button class="delete-review" (click)="deleteReview(review.id)">Delete review</button>
</div>
