* {
  font-family: 'Gotham';
  color: white;
}

.anime-profile-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
}

.anime-cover-image img {
  border-radius: 20px;
  outline: 2px solid rgb(255, 255, 255);
  outline-offset: -6px;
  margin-left: 70px;
}

.anime-header-container {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  flex-direction: column;
  margin-left: 2rem;
  justify-content: center;
}

.anime-presentation {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  justify-content: center;
  width: 100%;
}

.anime-info-tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.anime-info-tabs button {
  background-color: transparent;
  font-family: 'Gotham';
  font-weight: 700;
  font-size: 1rem;
  color: #9F9EA2;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 3px solid transparent;
}

.anime-info-tabs button.active {
  color: white;
  border-bottom: 3px solid black;
}

.anime-info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 100px;
  flex-shrink: unset;
}
