* {
  font-family: 'Gotham';
  color: white;
}

.anime-profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.anime-title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;

  .anime-title-japanese {
    margin-top: unset;
  }

  hr {
    width: 75%;
  }
}

.anime-info {
  display: flex;
}

.anime-cover-image {
  box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);

  img {
    outline: 2px solid rgb(255, 255, 255);
    outline-offset: -6px;
  }
}

.anime-details-container {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  flex-shrink: unset;
}

.profile-stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  label {
    font-weight: 700;
  }

  span {
    font-weight: 500;
    margin-left: 25vh;
  }
}

.extensive-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 20px;

  p {
    text-align: justify;
  }

  .title-container h1 {
    margin-bottom: unset !important;
  }
}

.title-container:nth-of-type(odd) {
  align-self: flex-start;
}

.title-container:nth-of-type(even) {
  align-self: flex-end;
}
