@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham-light-webfont.woff2') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham-book-webfont.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham-medium-webfont.woff2') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham-bold-webfont.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham-black-webfont.woff2') format('truetype');
  font-weight: 900;
  font-style: normal;
}

html {
  background: linear-gradient(rgba(0, 0, 0, .96), rgba(0, 0, 0, .94)), url('assets/images/login_background.png') no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  width: 100%;
  font-family: 'Gotham';
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 80%;
  }
}

.ngx-toastr {
  font-family: 'Gotham';
  font-weight: 300;
}

.toast-title {
  font-weight: 700;
}
