@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham-light-webfont.woff2') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham-book-webfont.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham-bold-webfont.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham-black-webfont.woff2') format('truetype');
  font-weight: 900;
  font-style: normal;
}

html {
  background: url('assets/images/login_background.png') no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  font-family: 'Gotham';
  font-weight: 500;
}
