<div class="anime-overview-container">
  <div class="anime-profile-details">
    <h2>Details</h2>
    <div class="profile-stat">
      <label for="">Title</label>
      <span class="value">Cowboy Bebop</span>
    </div>
    <div class="profile-stat">
      <label for="">Title Japanese</label>
      <span class="value">カウボーイビバップ</span>
    </div>
    <div class="profile-stat">
      <label for="">Status</label>
      <span class="value">Finished</span>
    </div>
    <div class="profile-stat">
      <label for="">Duration</label>
      <span class="value">24 min per ep</span>
    </div>
  </div>
  <div class="extensive-section">
    <div class="title-container">
      <h2>Background</h2>
    </div>
    <p>When Cowboy Bebop first aired in spring of 1998 on TV Tokyo, only episodes 2, 3, 7-15, and 18 were broadcast,
      it was concluded with a recap special known as Yose Atsume Blues. This was due to anime censorship having
      increased following the big controversies over Evangelion, as a result most of the series was pulled from the
      air due to violent content. Satellite channel WOWOW picked up the series in the fall of that year and aired it
      in its entirety uncensored. Cowboy Bebop was not a ratings hit in Japan, but sold over 19,000 DVD units in the
      initial release run, and 81,000 overall. Protagonist Spike Spiegel won Best Male Character, and Megumi
      Hayashibara won Best Voice Actor for her role as Faye Valentine in the 1999 and 2000 Anime Grand Prix,
      respectively. Cowboy Bebop's biggest influence has been in the United States, where it premiered on Adult Swim
      in 2001 with many reruns since. The show's heavy Western influence struck a chord with American viewers, where
      it became a \"gateway drug\" to anime aimed at adult audiences.</p>
    <div class="title-container">
      <h2>Synopsis</h2>
    </div>
    <p>When Cowboy Bebop first aired in spring of 1998 on TV Tokyo, only episodes 2, 3, 7-15, and 18 were broadcast,
      it was concluded with a recap special known as Yose Atsume Blues. This was due to anime censorship having
      increased following the big controversies over Evangelion, as a result most of the series was pulled from the
      air due to violent content. Satellite channel WOWOW picked up the series in the fall of that year and aired it
      in its entirety uncensored. Cowboy Bebop was not a ratings hit in Japan, but sold over 19,000 DVD units in the
      initial release run, and 81,000 overall. Protagonist Spike Spiegel won Best Male Character, and Megumi
      Hayashibara won Best Voice Actor for her role as Faye Valentine in the 1999 and 2000 Anime Grand Prix,
      respectively. Cowboy Bebop's biggest influence has been in the United States, where it premiered on Adult Swim
      in 2001 with many reruns since. The show's heavy Western influence struck a chord with American viewers, where
      it became a \"gateway drug\" to anime aimed at adult audiences.</p>
  </div>
</div>
